body {
    margin: 0%;
    background-image: linear-gradient(90deg, rgb(112, 1, 1), rgb(197, 5, 5));
}

.div-pai {
    display: flex;
    align-items: center;
    padding-top: 20px;
    justify-content: space-around;
}


.img {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    margin: 10px;
    margin-left: 20px;
    border: rgb(255, 255, 255) solid 2px;
}


.img12 {
    width: 210px;
    border-radius: 10px;
    border: rgb(255, 255, 255) solid 2px;
}

#p1 {
    text-align: center;
    background-image: linear-gradient( black, rgb(70, 70, 70), black);
    height: 60px;
    margin: 0%;
    padding-top: 20px;
    color: white;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: rgb(255, 255, 255) solid 2px;
    margin-left: 500px;
    margin-right:  500px;
}